html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: @title-font-family;
  color: @primary-color;
  font-weight: 400;
}

h4.title-mini {
  font-size: @font-size-sm;
  color: @dark-color;
  font-weight: bold;
  text-transform: uppercase;
}
