// Header Navbar fixed

header.navbar.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: @zindex-4;
    background-color: @light-color;
    .transition();
}

// Column
.col-padding-small {
    padding-top: .8rem;
    padding-bottom: .8rem;
}

// Slider

.slicker-fullpage {
    .slick {
        height: 80vh;
        width: 100%;
    }
    .slick-next, .slick-prev {
        z-index: @zindex-1
    }
    .slick-next {
        right: 24px;
    }
    .slick-prev {
        left: 24px;
    }
}

// Tab Fixes

.tab-item.active a {
    border-bottom: none;
}

// Event timetable

table td.schedule-table-day {
    background: #000000;
    color: #ffffff;
}

table tr.schedule-table-break {
    background: #eeeeee;
}

table td.schedule-table-session {
    color: #990000;
    font-weight: bold;
}

table tr.schedule-table-pseudoheader {
    font-style: italic;
    color: #990000;
}

.col-8 img {max-width: 40vw; height: auto}
.col-8 iframe {max-width: 40vw; height: auto}

.tablet {
  .col-9 {width: 100%;}
  .col-8 img {max-width: 85vw; height: auto}
  .col-8 iframe {max-width: 85vw; height: auto}
  .column.col-8 {flex: 1; order: 2;}
  .column.col-4 {flex: 1; order: 1;}
}

.wp-caption-text{
  font-style: italic;
  font-size: smaller;
  padding-left: 2em;
}
