

// Transition

.transition-time(@time) {
    -webkit-transition: all @time ease-in-out; /* Safari */
    transition: all @time ease-in-out;
}
.transition() {
    -webkit-transition: all .5s ease-in-out; /* Safari */
    transition: all .5s ease-in-out;
}
.transition-slow() {
    -webkit-transition: all 1s ease-in-out; /* Safari */
    transition: all 1s ease-in-out;
}
.transition-fast() {
    -webkit-transition: all .2s ease-in-out; /* Safari */
    transition: all .2s ease-in-out;
}

// Responsive

// . How to Use
//  .responsive(450px, {
//    float: left;
//    margin-top: 10px;
//  });

.responsive(@maxWidth; @rules) {
    @media only screen and (max-width: @maxWidth) {
        @rules();
    }
}
.mobile(@rules) {
    @media only screen and (max-width: @size-xs) {
        @rules();
    }
}
.mobile-lg(@rules) {
    @media only screen and (min-width: @size-xs) and (max-width: @size-sm) {
        @rules();
    }
}
.tablet(@rules) {
    @media only screen and (min-width: @size-md) {
        @rules();
    }
}
.desktop(@rules) {
    @media only screen and (min-width: @size-lg) {
        @rules();
    }
}
.desktop-md(@rules) {
    @media only screen and (min-width: @size-xl) {
        @rules();
    }
}
.desktop-lg(@rules) {
    @media only screen and (min-width: @size-2x) {
        @rules();
    }
}
