hr.separator {
  border: none;
  height: 1px;
  width: 100%;
  background-color: @primary-color;
  opacity: 0.4;
  margin: 4rem auto;
}

hr.separator-invisible {
  border: none;
  margin: 4rem 0;
}

.menu {
  margin-bottom: 3.2rem;
  .current-menu-item {
    font-weight: bold;
    color: @primary-color;
  }
}

//\( Typography
//\( ––––––––––––––––––––––––––––––––––––––––––––––––––

.title-single {
  font-size: 3rem !important;
}

.font-minor {
  font-size: 1.4rem;
}

.font-minor-p p {
  font-size: 1.4rem !important;
  line-height: 1.4;
}

.align-right, .align-right-desktop {
  text-align: right;
}

@media screen and (max-width: 600px) {
  .align-right-desktop {
    text-align: left;
  }
}

//\( Columns
//\( ––––––––––––––––––––––––––––––––––––––––––––––––––

.columns-main {
  .column-sub {
    background-color: #fff;
    // box-shadow: 0 1px 3px 0 #333;
    border: @border-color solid 1px;
    margin-top: -16rem;

    .title {
      margin-bottom: .5rem;
    }
    .subtitle {
      color: @gray-color;
    }
  }
}

.column-logo img {
  max-width: 100%;
}

.column-menu {
  padding-right: 4rem;
}

.column-zero {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.column-separator {
  border-bottom: 1px solid @primary-color;
}

.column-separator:not([style*="display: none"]):last-child {
  border-bottom: none;
}

.column-vertical-center {
  align-items: center;
}

//\( Lists
//\( ––––––––––––––––––––––––––––––––––––––––––––––––––

ul.list-menu {
  list-style-type: none;
  margin: 0;
}

//\( Cards
//\( ––––––––––––––––––––––––––––––––––––––––––––––––––

.card {
  box-shadow: 0 0px 4px rgba(0, 0, 0, .1), 0 4px 4px rgba(0, 0, 0, .1), 0 6px 6px rgba(0, 0, 0, .1);
  -webkit-transform: translateY(0.5rem);
  -ms-transform: translateY(0.5rem);
  transform: translateY(0.5rem);
  z-index: 100;

  h6.card-subtitle {
    color: @dark-color !important;
    opacity: 1;
  }

  .card-body {
    padding-top: 0;
  }
}

.card-button {
  box-shadow: 0 0px 4px rgba(0, 0, 0, .1), 0 4px 4px rgba(0, 0, 0, .1), 0 6px 6px rgba(0, 0, 0, .1);
  margin-bottom: 1.6rem;
  padding: 1.6rem;
  transition: .2s all ease-in-out;
  cursor: pointer;
  h5 {
    margin-bottom: 0;
  }
  &:hover {
    background-color: @primary-color;
    h5 {
      color: @light-color;
    }
  }
}

a.-no-decoration {
  text-decoration: none;
}

.card-mini {
  margin-bottom: 2rem;
  padding: 1.6rem 2rem 2.4rem;
  h4.title-mini {
    margin: .8rem 0 1.6rem;
  }
  > .card-body, > .card-header {
    padding: 0 !important;
    margin: 0;
  }
  a:last-child .card-list {
    margin: 0;
  }
}

.card-group {
  .card-header:last-child {
    padding: 1.6rem;
  }
  .sub-card {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    h4.title-mini {
      margin-top: 2rem;
      margin-bottom: 1rem;
      &:first-child {
        margin-top: 0;
      }
    }
    .card-body {
      padding-top: 4rem;
      padding-bottom: 4rem;
      display: none;
    }
    .card-footer {
      background: @primary-color;
      border-color: @primary-color;
      text-align: center;
      padding: 0 0 .4rem;
      i {
        color: @light-color;
      }
    }
  }
}

.card-software {
  position: relative;
  margin-top: 7rem;
  flex-basis: 34%;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: auto;
  margin-left: 4rem;
  margin-right: 2rem;
  // .card-header, .card-footer {
  //   padding: 0;
  // }
  img.logo-software {
    max-height: 10rem;
    box-shadow: 0 0px 4px rgba(0, 0, 0, .1), 0 4px 4px rgba(0, 0, 0, .1), 0 6px 6px rgba(0, 0, 0, .1);
    padding: 1rem;
    margin-top: -6rem;
    background-color: #fff;
  }
  .card-title {
    margin-top: 2rem;
  }
}

.card-image.software {
  width: 100%;
  height: 16rem;
}

.card-event {
  h6.card-subtitle {
    font-weight: bold;
  }
}

.card-member, .card-material {
  padding: 1.6rem;
  h4 {
    color: @dark-color;
  }
  .card-body, .card-header {
    padding: 0 !important;
    margin: 0;
  }
}

.card-research-themes {
  .sub-card .card-body {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
}

.card-list {
  position: relative;
  padding: 1.6rem 2.4rem;
  margin-bottom: 1.6rem;
  &.is-open {
    padding: 1.6rem 2.4rem 2.4rem;
  }
  i {
    position: absolute;
    top: 2rem;
    right: 2.4rem;
  }
  i, .card-header {
    cursor: pointer;
  }
  .card-title {
    margin-bottom: 0;
  }
  .card-body, .card-header {
    padding: 0 !important;
    margin: 0;
  }
  .card-body {
    display: none;
    margin-top: 1.6rem;
  }
}

.card-list.card-publication {
  // padding: 1.6rem 4rem 1.6rem 2.4rem;
  padding: 0.8rem 6rem 0.8rem 2.4rem;
  margin-bottom: 1.2rem;
  p.card-title {
    font-size: 1.6rem;
    margin-bottom: 0;
    span {
      color: @primary-color;
    }
  }
  // .card-body {
  //   margin-top: 0;
  // }
  h4.title-mini {
    margin-top: 1.6rem;
    margin-bottom: 0.8rem;
    // &:first-child {
    //   margin-top: 0;
    // }
  }
}

.card-team {
  border-left: 3px solid @primary-color;
  padding: .5rem 0rem 0rem 1rem;
  margin-top: 2rem;
  h4.title-mini {
    color: @primary-color;
  }
}

.publication {
  padding: 1rem 0 1rem 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: @primary-color 2px solid;

  h4.title-mini {
    margin-top: 2rem;
    margin-bottom: .5rem;
  }
}

.sponsor {
  text-align: center;
  margin: 3.2rem 0;
  img {
    max-height: 120px;
    max-width: 100%;
  }
}

.sponsor-side {
  text-align: left;
  margin: 3.2rem 0;
  img {
    max-height: 120px;
    max-width: 70%;
  }
}

.sponsor-mini {
  text-align: center;
  img {
    max-height: 60px;
    max-width: 90%;
  }
}

//\( Canvas
//\( ––––––––––––––––––––––––––––––––––––––––––––––––––

canvas.canvas-connections {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0; right: 0; bottom: 0; left: 0;
}

//\( Header
//\( ––––––––––––––––––––––––––––––––––––––––––––––––––

@header-home-height: 40vh;
@header-home-max-height: 540px;
// Base
// 70vh
// max-height: 540px;
// Home 1
// Disable max-height
// Home 2
// 50vh

header.header-home {
  position: relative;
  height: @header-home-height;
  // Base
  // max-height: 540px;
  max-height: @header-home-max-height;
  margin-bottom: 4rem;
  h3 {
    color: @light-color;
  }
  // Home 1
  // .columns-logo {
  //   position: absolute;
  //   bottom: 16rem;
  //   width: 100%;
  // }
  // .column-hero-home {
  //   margin-top: 8rem;
  // }
}

header.header-home-bg {
  position: absolute;
  height: @header-home-height;
  max-height: @header-home-max-height;
  width: 100%;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: #333;
  z-index: -10;

  img {
    position: absolute;
    width: 100%;
    bottom: -1px;
  }
  .cityscape {
    // HACK ALERT:
    // The source file for this is inside the "theme" directory and is
    // included in the file "main.less", which is one directory above
    // it. less realizes that this will probably cause problems with
    // relative urls starting with "../" and dutifully removes that
    // from the path. This is not what we want here but there is
    // no way to disable this behavior, so we just add another "../"
    background: url("../../img/elements/cityscape.svg") bottom repeat-x;
    height: 120px;
    width: 100%;
    position: absolute;
    bottom: -1px;
  }
}

@media screen and (max-width: 600px) {
  header.header-home-bg, header.header-home {
    height: 320px;
  }
}

.header-small {
  &.header-home, &.header-home-bg {
    height: 36rem;
  }
}

//\( Footer
//\( ––––––––––––––––––––––––––––––––––––––––––––––––––

footer.footer-main {
  border-bottom: 1rem solid #333;
  // background-color: #333;
  // color: @light-color; 
  // padding-top: 2rem;
  padding-bottom: .5rem;
  margin-top: 4rem;

  // .title-mini {
  //   color: @light-color;
  // }
  p {
    margin-bottom: .5rem;
  }
  .column {
    padding-bottom: 0;
    padding-top: 0;
  }
}

/// Box

.box-primary {
  // background-color: fade(@primary-color, 60%);
  background-color: @primary-color;
  color: @light-color;
  padding: 2.4rem;
}

#newsletter {
  width: 64%;
}

//\( Fields
//\( ––––––––––––––––––––––––––––––––––––––––––––––––––

.bibtex-field {
  margin-bottom: 1.6rem;
  padding: 1.6rem 2.4rem;
  background-color: @gray-color-lighter;
  line-height: 1.2;
  font-family: "Monaco", monospace;
  font-size: 1.4rem;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
  span {
    padding-left: 1.6rem;
  }
}

.card-body {
  // Prevent URLs that are too long from messing things up
  max-width: 80vw;
}
