// Grid
.grid-base {
    .mobile({
        max-width: 100% - 8px;
    });
    .mobile-lg({
        max-width: @size-sm - 48px;
    });
    .tablet({
        max-width: @size-md - 48px;
    });
    .desktop({
        // max-width: @size-lg - 48px;
        max-width: 96%;
    });
    .desktop-md({
        max-width: @size-xl - 48px;
    });
    .desktop-lg({
        max-width: @size-2x - 48px;
    });
}

// Uses on Navs and Navbars
.is-selected{
    font-weight: bold;
}

// Margins

.mt-0 {
    margin-top: 0 !important;
}
.mt-1 {
    margin-top: .8rem !important;
}
.mt-2 {
    margin-top: 1.6rem !important;
}
.mt-3 {
    margin-top: 2.4rem !important;
}
.mt-4 {
    margin-top: 3.2rem !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mb-1 {
    margin-bottom: .8rem !important;
}
.mb-2 {
    margin-bottom: 1.6rem !important;
}
.mb-4 {
    margin-bottom: 3.2rem !important;
}

.p-0 {
    padding: 0 !important;
}
.pt-0 {
    padding-top: 0 !important;
}
.pb-0 {
    padding-bottom: 0 !important;
}

.p-1 {
    padding: 1rem !important;
}
.pt-1 {
    padding-top: 1rem !important;
}
.pb-1 {
    padding-bottom: 1rem !important;
}

.p-2 {
    padding: 2rem !important;
}
.pt-2 {
    padding-top: 2rem !important;
}
.pb-2 {
    padding-bottom: 2rem !important;
}