@charset "UTF-8";
/*! Spectre.css | MIT License | github.com/picturepan2/spectre */
/* Manually forked from Normalize.css */
/* normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8 (removed).
 */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers. (removed)
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. (removed)
 */
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-. (Removed)
 */
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 (changed) */
  font-size: inherit;
  /* 1 (changed) */
  line-height: inherit;
  /* 1 (changed) */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule (removed).
 */
/**
 * Change the border, margin, and padding in all browsers (opinionated) (changed).
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 10px;
  line-height: 1.42857143;
  -webkit-tap-highlight-color: transparent;
}
body {
  background: #ffffff;
  color: #50596c;
  font-family: "Source Sans Pro", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}
a {
  color: #00998c;
  outline: none;
  text-decoration: none;
}
a:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 153, 140, 0.15);
}
a:focus,
a:hover,
a:active,
a.active {
  color: #00665d;
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin-top: 0;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.4rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.6rem;
}
p {
  line-height: 2.4rem;
  margin: 0 0 1rem;
}
a,
ins,
u {
  text-decoration-skip: ink edges;
}
blockquote {
  border-left: 0.2rem solid #e7e9ed;
  margin-left: 0;
  padding: 1rem 2rem;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote cite {
  color: #acb3c2;
}
ul,
ol {
  margin: 2rem 0 2rem 2rem;
  padding: 0;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin: 1.5rem 0 1.5rem 2rem;
}
ul li,
ol li {
  margin-top: 1rem;
}
ul {
  list-style: disc inside;
}
ul ul {
  list-style-type: circle;
}
ol {
  list-style: decimal inside;
}
ol ol {
  list-style-type: lower-alpha;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin: .5rem 0 1.5rem 0;
}
mark {
  background: #ffe9b3;
  color: #50596c;
  border-radius: 0.2rem;
  display: inline-block;
  line-height: 1;
  padding: .3rem .4rem;
  vertical-align: baseline;
}
kbd {
  background: #454d5d;
  color: #ffffff;
  border-radius: 0.2rem;
  display: inline-block;
  line-height: 1;
  padding: .3rem .4rem;
  vertical-align: baseline;
}
abbr[title] {
  border-bottom: .1rem dotted;
  cursor: help;
  text-decoration: none;
}
:lang(zh),
:lang(ja),
:lang(ko),
.cjk {
  font-family: "Source Sans Pro", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Hiragino Kaku Gothic Pro", Meiryo, "Malgun Gothic", "Helvetica Neue", sans-serif;
}
:lang(zh) ins,
:lang(ja) ins,
.cjk ins,
:lang(zh) u,
:lang(ja) u,
.cjk u {
  border-bottom: .1rem solid;
  text-decoration: none;
}
:lang(zh) del + del,
:lang(ja) del + del,
.cjk del + del,
:lang(zh) del + s,
:lang(ja) del + s,
.cjk del + s,
:lang(zh) ins + ins,
:lang(ja) ins + ins,
.cjk ins + ins,
:lang(zh) ins + u,
:lang(ja) ins + u,
.cjk ins + u,
:lang(zh) s + del,
:lang(ja) s + del,
.cjk s + del,
:lang(zh) s + s,
:lang(ja) s + s,
.cjk s + s,
:lang(zh) u + ins,
:lang(ja) u + ins,
.cjk u + ins,
:lang(zh) u + u,
:lang(ja) u + u,
.cjk u + u {
  margin-left: .125em;
}
.table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  width: 100%;
}
.table.table-striped tbody tr:nth-of-type(odd) {
  background: #f8f9fa;
}
.table.table-hover tbody tr:hover {
  background: #f0f1f4;
}
.table tbody tr.active,
.table.table-striped tbody tr.active {
  background: #f0f1f4;
}
.table td {
  border-bottom: 0.1rem solid #e7e9ed;
  padding: 1.5rem 1rem;
}
.table th {
  border-bottom: 0.2rem solid #727e96;
  padding: 1.5rem 1rem;
}
.btn {
  appearance: none;
  background: #ffffff;
  border: 0.1rem solid #00998c;
  border-radius: 0.2rem;
  color: #00998c;
  transition: all .2s ease;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  height: 3.2rem;
  line-height: 2rem;
  outline: none;
  padding: .5rem .8rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.btn:focus {
  background: #75fff3;
  box-shadow: 0 0 0 0.2rem rgba(0, 153, 140, 0.15);
  text-decoration: none;
}
.btn:hover {
  background: #00998c;
  border-color: #008a7e;
  color: #ffffff;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background: #008a7e;
  border-color: #007067;
  color: #ffffff;
  text-decoration: none;
}
.btn[disabled],
.btn:disabled,
.btn.disabled {
  cursor: default;
  opacity: .5;
  pointer-events: none;
}
.btn.btn-primary {
  background: #00998c;
  border-color: #008a7e;
  color: #ffffff;
}
.btn.btn-primary:focus,
.btn.btn-primary:hover {
  background: #008075;
  border-color: #007067;
  color: #ffffff;
}
.btn.btn-primary:active,
.btn.btn-primary.active {
  background: #00756b;
  border-color: #00665d;
  color: #ffffff;
}
.btn.btn-primary.loading::after {
  border-bottom-color: #ffffff;
  border-left-color: #ffffff;
}
.btn.btn-link {
  background: transparent;
  border-color: transparent;
  color: #00998c;
}
.btn.btn-link:focus,
.btn.btn-link:hover,
.btn.btn-link:active,
.btn.btn-link.active {
  color: #00665d;
}
.btn.btn-sm {
  font-size: 1.4rem;
  height: 2.4rem;
  padding: .1rem .8rem;
}
.btn.btn-lg {
  font-size: 1.8rem;
  height: 4rem;
  padding: .9rem .8rem;
}
.btn.btn-block {
  display: block;
  width: 100%;
}
.btn.btn-action {
  width: 3.2rem;
  padding-left: 0;
  padding-right: 0;
}
.btn.btn-action.btn-sm {
  width: 2.4rem;
}
.btn.btn-action.btn-lg {
  width: 4rem;
}
.btn.btn-clear {
  background: transparent;
  border: 0;
  color: currentColor;
  height: 1.6rem;
  line-height: 1.6rem;
  margin: 0.2rem -0.2rem 0.2rem 0.4rem;
  opacity: .45;
  padding: 0 .2rem;
  text-decoration: none;
  width: 1.6rem;
}
.btn.btn-clear:hover {
  opacity: .85;
}
.btn.btn-clear::before {
  content: "\2715";
}
.btn-group {
  display: inline-flex;
  flex-wrap: wrap;
}
.btn-group .btn {
  flex: 1 0 auto;
}
.btn-group .btn:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.btn-group .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
  margin-left: -0.1rem;
}
.btn-group .btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -0.1rem;
}
.btn-group .btn:focus,
.btn-group .btn:hover,
.btn-group .btn:active,
.btn-group .btn.active {
  z-index: 1;
}
.btn-group.btn-group-block {
  display: flex;
}
.form-group:not(:last-child) {
  margin-bottom: 2rem;
}
.form-label {
  display: block;
  padding: .6rem 0;
}
.form-label.label-sm {
  padding: .2rem 0;
}
.form-label.label-lg {
  padding: 1rem 0;
}
.form-input {
  appearance: none;
  background: #ffffff;
  background-image: none;
  border: 0.1rem solid #bbc1cd;
  border-radius: 0.2rem;
  color: #50596c;
  transition: all .2s ease;
  display: block;
  font-size: 1.6rem;
  height: 3.2rem;
  line-height: 2rem;
  max-width: 100%;
  outline: none;
  padding: .5rem .8rem;
  position: relative;
  width: 100%;
}
.form-input:focus {
  border-color: #00998c;
  box-shadow: 0 0 0 0.2rem rgba(0, 153, 140, 0.15);
}
.form-input::placeholder {
  color: #acb3c2;
}
.form-input.input-sm {
  font-size: 1.4rem;
  height: 2.4rem;
  padding: .1rem .8rem;
}
.form-input.input-lg {
  font-size: 1.8rem;
  height: 4rem;
  padding: .9rem .8rem;
}
.form-input.input-inline {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}
textarea.form-input {
  height: auto;
}
.form-input[type="file"] {
  height: auto;
}
.form-input-hint {
  color: #acb3c2;
  margin-top: .4rem;
}
.has-success .form-input-hint,
.is-success + .form-input-hint {
  color: #32b643;
}
.has-danger .form-input-hint,
.is-danger + .form-input-hint {
  color: #e85600;
}
.form-select {
  appearance: none;
  border: 0.1rem solid #bbc1cd;
  border-radius: 0.2rem;
  color: inherit;
  font-size: 1.6rem;
  line-height: 2rem;
  outline: none;
  padding: .5rem .8rem;
  vertical-align: middle;
}
.form-select[multiple] {
  width: 100%;
}
.form-select[multiple] option {
  padding: .2rem .4rem;
}
.form-select:not([multiple]) {
  background: #ffffff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23667189' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center / 0.8rem 1rem;
  height: 3.2rem;
  padding-right: 2.4rem;
}
.form-select:focus {
  border-color: #00998c;
  box-shadow: 0 0 0 0.2rem rgba(0, 153, 140, 0.15);
}
.form-select::-ms-expand {
  display: none;
}
.form-select.select-sm {
  font-size: 1.4rem;
  height: 2.4rem;
  padding: .1rem 2rem .1rem .6rem;
}
.form-select.select-lg {
  font-size: 1.8rem;
  height: 4rem;
  padding: .9rem 2.4rem .9rem .8rem;
}
.has-success .form-input,
.has-success .form-select,
.form-input.is-success,
.form-select.is-success {
  border-color: #32b643;
}
.has-success .form-input:focus,
.has-success .form-select:focus,
.form-input.is-success:focus,
.form-select.is-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(50, 182, 67, 0.15);
}
.has-danger .form-input,
.has-danger .form-select,
.form-input.is-danger,
.form-select.is-danger {
  border-color: #e85600;
}
.has-danger .form-input:focus,
.has-danger .form-select:focus,
.form-input.is-danger:focus,
.form-select.is-danger:focus {
  box-shadow: 0 0 0 0.2rem rgba(232, 86, 0, 0.15);
}
.form-checkbox,
.form-radio,
.form-switch {
  display: inline-block;
  line-height: 2rem;
  position: relative;
}
.form-checkbox input,
.form-radio input,
.form-switch input {
  clip: rect(0, 0, 0, 0);
  height: .1rem;
  margin: -0.1rem;
  overflow: hidden;
  position: absolute;
  width: .1rem;
}
.form-checkbox input:focus + .form-icon,
.form-radio input:focus + .form-icon,
.form-switch input:focus + .form-icon {
  border-color: #00998c;
  box-shadow: 0 0 0 0.2rem rgba(0, 153, 140, 0.15);
}
.form-checkbox input:checked + .form-icon,
.form-radio input:checked + .form-icon,
.form-switch input:checked + .form-icon {
  background: #00998c;
  border-color: #00998c;
}
.form-checkbox .form-icon,
.form-radio .form-icon,
.form-switch .form-icon {
  border: 0.1rem solid #bbc1cd;
  transition: all .2s ease;
  cursor: pointer;
  display: inline-block;
  position: absolute;
}
.form-checkbox,
.form-radio {
  padding: .2rem 2rem;
}
.form-checkbox .form-icon,
.form-radio .form-icon {
  height: 1.4rem;
  left: 0;
  top: .5rem;
  width: 1.4rem;
}
.form-checkbox input:active + .form-icon,
.form-radio input:active + .form-icon {
  background: #f0f1f4;
}
.form-checkbox .form-icon {
  border-radius: 0.2rem;
}
.form-checkbox input:checked + .form-icon::before {
  background-clip: padding-box;
  border: 0.2rem solid #ffffff;
  border-left-width: 0;
  border-top-width: 0;
  content: "";
  height: 1rem;
  left: 50%;
  margin-left: -0.3rem;
  margin-top: -0.6rem;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: .6rem;
}
.form-checkbox input:indeterminate + .form-icon {
  background: #00998c;
  border-color: #00998c;
}
.form-checkbox input:indeterminate + .form-icon::before {
  background: #ffffff;
  content: "";
  height: .2rem;
  left: 50%;
  margin-left: -0.5rem;
  margin-top: -0.1rem;
  position: absolute;
  top: 50%;
  width: 1rem;
}
.form-radio .form-icon {
  border-radius: .7rem;
}
.form-radio input:checked + .form-icon::before {
  background: #ffffff;
  border-radius: 0.2rem;
  content: "";
  height: .4rem;
  left: 50%;
  margin-left: -0.2rem;
  margin-top: -0.2rem;
  position: absolute;
  top: 50%;
  width: .4rem;
}
.form-switch {
  padding: .2rem 2rem .2rem 3.6rem;
}
.form-switch .form-icon {
  background: #e7e9ed;
  background-clip: padding-box;
  border-radius: .9rem;
  height: 1.8rem;
  left: 0;
  top: .3rem;
  width: 3rem;
}
.form-switch .form-icon::before {
  background: #ffffff;
  border-radius: .8rem;
  content: "";
  display: block;
  height: 1.6rem;
  left: 0;
  position: absolute;
  top: 0;
  transition: all .2s ease;
  width: 1.6rem;
}
.form-switch input:checked + .form-icon::before {
  left: 1.2rem;
}
.form-switch input:active + .form-icon::before {
  background: #f8f9fa;
}
.input-group {
  display: flex;
}
.input-group .input-group-addon {
  background: #f8f9fa;
  border: 0.1rem solid #bbc1cd;
  border-radius: 0.2rem;
  line-height: 2rem;
  padding: .5rem .8rem;
}
.input-group .input-group-addon.addon-sm {
  font-size: 1.4rem;
  padding: .1rem .8rem;
}
.input-group .input-group-addon.addon-lg {
  font-size: 1.8rem;
  padding: .9rem .8rem;
}
.input-group .input-group-addon,
.input-group .input-group-btn {
  flex: 1 0 auto;
}
.input-group .form-input:first-child:not(:last-child),
.input-group .input-group-addon:first-child:not(:last-child),
.input-group .input-group-btn:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.input-group .form-input:not(:first-child):not(:last-child),
.input-group .input-group-addon:not(:first-child):not(:last-child),
.input-group .input-group-btn:not(:first-child):not(:last-child) {
  border-radius: 0;
  margin-left: -0.1rem;
}
.input-group .form-input:last-child:not(:first-child),
.input-group .input-group-addon:last-child:not(:first-child),
.input-group .input-group-btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -0.1rem;
}
.input-group .form-input:focus,
.input-group .input-group-addon:focus,
.input-group .input-group-btn:focus {
  z-index: 1;
}
.input-group.input-inline {
  display: inline-flex;
}
.form-input:disabled,
.form-select:disabled,
.form-input.disabled,
.form-select.disabled {
  background-color: #f0f1f4;
  cursor: not-allowed;
  opacity: .5;
}
input:disabled + .form-icon,
input.disabled + .form-icon {
  background: #f0f1f4;
  cursor: not-allowed;
  opacity: .5;
}
.form-switch input:disabled + .form-icon::before,
.form-switch input.disabled + .form-icon::before {
  background: #ffffff;
}
.form-horizontal {
  padding: 2rem;
}
.form-horizontal .form-group {
  display: flex;
}
.form-horizontal .form-checkbox,
.form-horizontal .form-radio,
.form-horizontal .form-switch {
  margin: .4rem 0;
}
.label {
  background: #f8f9fa;
  color: inherit;
  border-radius: 0.2rem;
  display: inline-block;
  line-height: 1;
  padding: .3rem .4rem;
  vertical-align: baseline;
}
.label.label-primary {
  background: #00998c;
  color: #ffffff;
}
.label.label-success {
  background: #32b643;
  color: #ffffff;
}
.label.label-warning {
  background: #ffb700;
  color: #ffffff;
}
.label.label-danger {
  background: #e85600;
  color: #ffffff;
}
code {
  background: #f8f9fa;
  color: #e06870;
  border-radius: 0.2rem;
  display: inline-block;
  line-height: 1;
  padding: .3rem .4rem;
  vertical-align: baseline;
}
.code {
  border-radius: 0.2rem;
  color: #50596c;
  line-height: 2rem;
  position: relative;
}
.code::before {
  content: attr(data-lang);
  color: #acb3c2;
  font-size: 1.4rem;
  position: absolute;
  right: 1rem;
  top: .2rem;
}
.code code {
  color: inherit;
  display: block;
  line-height: inherit;
  overflow-x: auto;
  padding: 2rem;
  width: 100%;
}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
.img-fit-cover {
  object-fit: cover;
}
.img-fit-contain {
  object-fit: contain;
}
.video-responsive {
  display: block;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}
.video-responsive::before {
  content: "";
  display: block;
  padding-bottom: 56.25%;
}
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.video-responsive video {
  height: auto;
  max-width: 100%;
  width: 100%;
}
.video-responsive-4-3::before {
  padding-bottom: 75%;
}
.video-responsive-1-1::before {
  padding-bottom: 100%;
}
.figure {
  margin: 0 0 2rem 0;
}
.figure .figure-caption {
  color: #727e96;
  margin-top: 2rem;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
}
.container.grid-960 {
  max-width: 100rem;
}
.container.grid-480 {
  max-width: 52rem;
}
.columns {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2rem;
  margin-right: -2rem;
}
.columns.col-gapless {
  margin-left: 0;
  margin-right: 0;
}
.columns.col-gapless .column {
  padding-left: 0;
  padding-right: 0;
}
.columns.col-oneline {
  flex-wrap: nowrap;
  overflow-x: auto;
}
.column {
  flex: 1;
  padding: 2rem;
}
.column.col-12,
.column.col-11,
.column.col-10,
.column.col-9,
.column.col-8,
.column.col-7,
.column.col-6,
.column.col-5,
.column.col-4,
.column.col-3,
.column.col-2,
.column.col-1 {
  flex: none;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}
@media screen and (max-width: 1280px) {
  .col-xl-12,
  .col-xl-11,
  .col-xl-10,
  .col-xl-9,
  .col-xl-8,
  .col-xl-7,
  .col-xl-6,
  .col-xl-5,
  .col-xl-4,
  .col-xl-3,
  .col-xl-2,
  .col-xl-1 {
    flex: none;
  }
  .col-xl-12 {
    width: 100%;
  }
  .col-xl-11 {
    width: 91.66666667%;
  }
  .col-xl-10 {
    width: 83.33333333%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-8 {
    width: 66.66666667%;
  }
  .col-xl-7 {
    width: 58.33333333%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-5 {
    width: 41.66666667%;
  }
  .col-xl-4 {
    width: 33.33333333%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-2 {
    width: 16.66666667%;
  }
  .col-xl-1 {
    width: 8.33333333%;
  }
}
@media screen and (max-width: 960px) {
  .col-lg-12,
  .col-lg-11,
  .col-lg-10,
  .col-lg-9,
  .col-lg-8,
  .col-lg-7,
  .col-lg-6,
  .col-lg-5,
  .col-lg-4,
  .col-lg-3,
  .col-lg-2,
  .col-lg-1 {
    flex: none;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}
@media screen and (max-width: 840px) {
  .col-md-12,
  .col-md-11,
  .col-md-10,
  .col-md-9,
  .col-md-8,
  .col-md-7,
  .col-md-6,
  .col-md-5,
  .col-md-4,
  .col-md-3,
  .col-md-2,
  .col-md-1 {
    flex: none;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media screen and (max-width: 600px) {
  .col-sm-12,
  .col-sm-11,
  .col-sm-10,
  .col-sm-9,
  .col-sm-8,
  .col-sm-7,
  .col-sm-6,
  .col-sm-5,
  .col-sm-4,
  .col-sm-3,
  .col-sm-2,
  .col-sm-1 {
    flex: none;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media screen and (max-width: 480px) {
  .col-xs-12,
  .col-xs-11,
  .col-xs-10,
  .col-xs-9,
  .col-xs-8,
  .col-xs-7,
  .col-xs-6,
  .col-xs-5,
  .col-xs-4,
  .col-xs-3,
  .col-xs-2,
  .col-xs-1 {
    flex: none;
  }
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-11 {
    width: 91.66666667%;
  }
  .col-xs-10 {
    width: 83.33333333%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-8 {
    width: 66.66666667%;
  }
  .col-xs-7 {
    width: 58.33333333%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-5 {
    width: 41.66666667%;
  }
  .col-xs-4 {
    width: 33.33333333%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-2 {
    width: 16.66666667%;
  }
  .col-xs-1 {
    width: 8.33333333%;
  }
}
.show-xs,
.show-sm,
.show-md,
.show-lg,
.show-xl {
  display: none !important;
}
@media screen and (max-width: 480px) {
  .hide-xs {
    display: none !important;
  }
  .show-xs {
    display: block !important;
  }
}
@media screen and (max-width: 600px) {
  .hide-sm {
    display: none !important;
  }
  .show-sm {
    display: block !important;
  }
}
@media screen and (max-width: 840px) {
  .hide-md {
    display: none !important;
  }
  .show-md {
    display: block !important;
  }
}
@media screen and (max-width: 960px) {
  .hide-lg {
    display: none !important;
  }
  .show-lg {
    display: block !important;
  }
}
@media screen and (max-width: 1280px) {
  .hide-xl {
    display: none !important;
  }
  .show-xl {
    display: block !important;
  }
}
.navbar {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navbar .navbar-section {
  align-items: center;
  display: flex;
  flex: 1 0 0;
}
.navbar .navbar-section:last-child {
  justify-content: flex-end;
}
.navbar .navbar-center {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
}
.navbar .navbar-brand {
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
}
.panel {
  border: 0.1rem solid #e7e9ed;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
}
.panel .panel-header,
.panel .panel-footer {
  flex: 0 0 auto;
  padding: 3rem;
}
.panel .panel-nav {
  flex: 0 0 auto;
}
.panel .panel-body {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 0 3rem;
}
.panel .panel-title {
  font-size: 2rem;
}
.panel .panel-subtitle {
  opacity: .5;
}
.empty {
  background: #f8f9fa;
  border-radius: 0.2rem;
  color: #727e96;
  text-align: center;
  padding: 8rem;
}
.empty .empty-title,
.empty .empty-subtitle {
  margin: 1rem auto;
}
.empty .empty-subtitle {
  opacity: .5;
}
.empty .empty-action {
  margin-top: 1.5rem;
}
.form-autocomplete {
  position: relative;
}
.form-autocomplete .form-autocomplete-input {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  min-height: 3.2rem;
  padding: .1rem 0 0 .1rem;
}
.form-autocomplete .form-autocomplete-input.is-focused {
  border-color: #00998c;
  box-shadow: 0 0 0 0.2rem rgba(0, 153, 140, 0.15);
}
.form-autocomplete .form-autocomplete-input .form-input {
  border-color: transparent;
  box-shadow: none;
  display: inline-block;
  flex: 1 0 auto;
  height: 2.8rem;
  padding: .3rem .8rem;
  width: auto;
}
.form-autocomplete mark {
  font-size: 1;
  padding: .1em 0;
}
.form-autocomplete .menu {
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}
.avatar {
  background: #00998c;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.85);
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 300;
  height: 3.2rem;
  line-height: 1;
  margin: 0;
  position: relative;
  vertical-align: middle;
  width: 3.2rem;
}
.avatar.avatar-xs {
  font-size: .8rem;
  height: 1.6rem;
  width: 1.6rem;
}
.avatar.avatar-sm {
  font-size: 1rem;
  height: 2.4rem;
  width: 2.4rem;
}
.avatar.avatar-lg {
  font-size: 2rem;
  height: 4.8rem;
  width: 4.8rem;
}
.avatar.avatar-xl {
  font-size: 2.6rem;
  height: 6.4rem;
  width: 6.4rem;
}
.avatar img {
  border-radius: 50%;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 100;
}
.avatar .avatar-icon {
  background: #ffffff;
  bottom: 14.64%;
  height: 50%;
  padding: .2rem;
  position: absolute;
  right: 14.64%;
  transform: translate(50%, 50%);
  width: 50%;
}
.avatar[data-initial]::before {
  color: currentColor;
  content: attr(data-initial);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.badge {
  position: relative;
  white-space: nowrap;
}
.badge[data-badge]::after,
.badge:not([data-badge])::after {
  background: #00998c;
  background-clip: padding-box;
  border: 0.1rem solid #ffffff;
  border-radius: 1rem;
  color: #ffffff;
  content: attr(data-badge);
  display: inline-block;
  transform: translate(-0.2rem, -1rem);
}
.badge[data-badge]::after {
  font-size: 1.4rem;
  height: 2rem;
  line-height: 1;
  min-width: 2rem;
  padding: .3rem .5rem;
  text-align: center;
  white-space: nowrap;
}
.badge:not([data-badge])::after,
.badge[data-badge='']::after {
  height: .8rem;
  min-width: .8rem;
  padding: 0;
  width: .8rem;
}
.badge.btn::after {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.badge.avatar::after {
  position: absolute;
  top: 14.64%;
  right: 14.64%;
  transform: translate(50%, -50%);
  z-index: 100;
}
.badge.avatar-xs::after {
  content: "";
  height: .8rem;
  min-width: .8rem;
  padding: 0;
  width: .8rem;
}
.bar {
  background: #f0f1f4;
  border-radius: 0.2rem;
  display: flex;
  flex-wrap: nowrap;
  height: 1.6rem;
  width: 100%;
}
.bar.bar-sm {
  height: .4rem;
}
.bar .bar-item {
  background: #00998c;
  color: #ffffff;
  display: block;
  font-size: 1.4rem;
  flex-shrink: 0;
  line-height: 1;
  height: 100%;
  padding: .2rem 0;
  position: relative;
  text-align: center;
  width: 0;
}
.bar .bar-item:first-child {
  border-bottom-left-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
}
.bar .bar-item:last-child {
  border-bottom-right-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  flex-shrink: 1;
}
.bar-slider {
  height: .2rem;
  margin: 1rem 0;
  position: relative;
}
.bar-slider .bar-item {
  left: 0;
  padding: 0;
  position: absolute;
}
.bar-slider .bar-item:not(:last-child):first-child {
  background: #f0f1f4;
  z-index: 1;
}
.bar-slider .bar-slider-btn {
  background: #00998c;
  border: 0;
  border-radius: 50%;
  height: 1.2rem;
  padding: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  width: 1.2rem;
}
.bar-slider .bar-slider-btn:active {
  box-shadow: 0 0 0 0.2rem #00998c;
}
.card {
  background: #ffffff;
  border: 0.1rem solid #e7e9ed;
  border-radius: 0.2rem;
  display: block;
}
.card .card-header,
.card .card-body,
.card .card-footer {
  padding: 3rem;
  padding-bottom: 0;
}
.card .card-header:last-child,
.card .card-body:last-child,
.card .card-footer:last-child {
  padding-bottom: 3rem;
}
.card .card-image {
  padding-top: 3rem;
}
.card .card-image:first-child {
  padding-top: 0;
}
.card .card-image:first-child img {
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}
.card .card-image:last-child img {
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}
.card .card-title {
  font-size: 2rem;
}
.card .card-subtitle {
  font-size: 1.4rem;
  opacity: .5;
}
.chip {
  align-items: center;
  background: #f0f1f4;
  border-radius: 0.2rem;
  color: #727e96;
  display: inline-flex;
  height: 2.8rem;
  margin: 0 .1rem .1rem 0;
  max-width: 100%;
  padding: .1rem .8rem;
  text-decoration: none;
  vertical-align: middle;
}
.chip.active {
  background: #00998c;
  color: #ffffff;
}
.chip .avatar {
  margin-left: -0.4rem;
  margin-right: .4rem;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown .menu {
  animation: slide-down 0.2s ease 1;
  display: none;
  left: 0;
  position: absolute;
  top: 100%;
}
.dropdown.dropdown-right .menu {
  left: auto;
  right: 0;
}
.dropdown.active .menu,
.dropdown .dropdown-toggle:focus + .menu,
.dropdown .menu:hover {
  display: block;
}
.menu {
  background: #ffffff;
  border-radius: 0.2rem;
  list-style: none;
  margin: 0;
  min-width: 18rem;
  padding: 1rem;
  box-shadow: 0 0.1rem 0.4rem rgba(69, 77, 93, 0.3);
  transform: translateY(0.5rem);
  z-index: 100;
}
.menu .menu-item {
  margin-top: 0;
  padding: 0 .8rem;
  text-decoration: none;
  user-select: none;
}
.menu .menu-item > a {
  border-radius: 0.2rem;
  color: inherit;
  display: block;
  margin: 0 -0.8rem;
  padding: .6rem .8rem;
  text-decoration: none;
}
.menu .menu-item > a:focus,
.menu .menu-item > a:hover {
  color: #00998c;
}
.menu .menu-item > a:active,
.menu .menu-item > a.active {
  background: #75fff3;
  color: #00998c;
}
.menu .menu-badge {
  float: right;
  padding: .6rem 0;
}
.menu .menu-badge .btn {
  margin-top: -0.2rem;
}
.modal {
  align-items: center;
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 2rem;
  position: fixed;
  right: 0;
  top: 0;
}
.modal:target,
.modal.active {
  display: flex;
  opacity: 1;
  z-index: 400;
}
.modal:target .modal-overlay,
.modal.active .modal-overlay {
  background: rgba(69, 77, 93, 0.5);
  bottom: 0;
  cursor: default;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.modal:target .modal-container,
.modal.active .modal-container {
  animation: slide-down 0.2s ease 1;
  max-width: 64rem;
  z-index: 1;
}
.modal.modal-sm .modal-container {
  max-width: 32rem;
}
.modal-container {
  background: #ffffff;
  border-radius: 0.2rem;
  display: block;
  padding: 0;
  box-shadow: 0 0.4rem 1rem rgba(69, 77, 93, 0.3);
  text-align: left;
}
.modal-container .modal-header {
  padding: 3rem;
}
.modal-container .modal-header .modal-title {
  font-size: 1.8rem;
  margin: 0;
}
.modal-container .modal-body {
  max-height: 50vh;
  overflow-y: auto;
  padding: 3rem;
  position: relative;
}
.modal-container .modal-footer {
  padding: 3rem;
  text-align: right;
}
.breadcrumb,
.tab,
.pagination,
.nav {
  list-style: none;
  margin: .5rem 0;
}
.breadcrumb {
  padding: 1.2rem;
}
.breadcrumb .breadcrumb-item {
  display: inline-block;
  margin: 0;
}
.breadcrumb .breadcrumb-item:last-child {
  color: #acb3c2;
}
.breadcrumb .breadcrumb-item:not(:first-child)::before {
  color: #e7e9ed;
  content: "/";
  padding: 0 .4rem;
}
.tab {
  align-items: center;
  border-bottom: 0.1rem solid #e7e9ed;
  display: flex;
  flex-wrap: wrap;
}
.tab .tab-item {
  margin-top: 0;
}
.tab .tab-item.tab-action {
  flex: 1 0 auto;
  text-align: right;
}
.tab .tab-item a {
  border-bottom: .2rem solid transparent;
  color: inherit;
  display: block;
  margin-top: 0;
  padding: .5rem 1.2rem;
  text-decoration: none;
}
.tab .tab-item a:focus,
.tab .tab-item a:hover {
  color: #00998c;
}
.tab .tab-item.active a,
.tab .tab-item a.active {
  border-bottom-color: #00998c;
  color: #00998c;
}
.tab.tab-block .tab-item {
  flex: 1 0 0;
  text-align: center;
}
.tab.tab-block .tab-item .badge[data-badge]::after {
  position: absolute;
  right: -0.4rem;
  top: -0.4rem;
  transform: translate(0, 0);
}
.tab:not(.tab-block) .badge {
  padding-right: 0;
}
.pagination {
  display: flex;
}
.pagination .page-item {
  margin: 1rem .1rem;
}
.pagination .page-item span {
  display: inline-block;
  padding: .6rem .4rem;
}
.pagination .page-item a,
.pagination .page-item span {
  border-radius: 0.2rem;
  color: #727e96;
  display: inline-block;
  padding: .6rem .8rem;
  text-decoration: none;
}
.pagination .page-item a:focus,
.pagination .page-item span:focus,
.pagination .page-item a:hover,
.pagination .page-item span:hover {
  color: #00998c;
}
.pagination .page-item a[disabled],
.pagination .page-item span[disabled],
.pagination .page-item a.disabled,
.pagination .page-item span.disabled {
  cursor: default;
  opacity: .5;
  pointer-events: none;
}
.pagination .page-item.active a,
.pagination .page-item.active span {
  background: #00998c;
  color: #ffffff;
}
.pagination .page-item.page-prev,
.pagination .page-item.page-next {
  flex: 1 0 50%;
}
.pagination .page-item.page-next {
  text-align: right;
}
.pagination .page-item .page-item-title {
  margin: 0;
}
.pagination .page-item .page-item-subtitle {
  margin: 0;
  opacity: .5;
}
.nav {
  display: flex;
  flex-direction: column;
}
.nav .nav-item a {
  color: #727e96;
  padding: .6rem .8rem;
  text-decoration: none;
}
.nav .nav-item a:focus,
.nav .nav-item a:hover {
  color: #00998c;
}
.nav .nav-item.active > a {
  font-weight: bold;
}
.nav .nav-item.active > a:focus,
.nav .nav-item.active > a:hover {
  color: #00998c;
}
.nav .nav {
  margin-bottom: 1rem;
  margin-left: 2rem;
}
.nav .nav a {
  color: #acb3c2;
}
.popover {
  display: inline-block;
  position: relative;
}
.popover .popover-container {
  content: attr(data-tooltip);
  opacity: 0;
  left: 50%;
  padding: 2rem;
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: transform .2s ease;
  width: 32rem;
  z-index: 400;
}
.popover :focus + .popover-container,
.popover:hover .popover-container,
.popover .popover-container:hover {
  display: block;
  opacity: 1;
  transform: translate(-50%, -100%) scale(1);
}
.popover.popover-right .popover-container {
  left: 100%;
  top: 50%;
}
.popover.popover-right :focus + .popover-container,
.popover.popover-right:hover .popover-container,
.popover.popover-right .popover-container:hover {
  transform: translate(0, -50%) scale(1);
}
.popover.popover-bottom .popover-container {
  left: 50%;
  top: 100%;
}
.popover.popover-bottom :focus + .popover-container,
.popover.popover-bottom:hover .popover-container,
.popover.popover-bottom .popover-container:hover {
  transform: translate(-50%, 0) scale(1);
}
.popover.popover-left .popover-container {
  left: 0;
  top: 50%;
}
.popover.popover-left :focus + .popover-container,
.popover.popover-left:hover .popover-container,
.popover.popover-left .popover-container:hover {
  transform: translate(-100%, -50%) scale(1);
}
.popover .card {
  border: 0;
  box-shadow: 0 0.4rem 1rem rgba(69, 77, 93, 0.3);
}
.step {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: .5rem 0;
  width: 100%;
}
.step .step-item {
  flex: 1 1 0;
  margin-top: 0;
  min-height: 2rem;
  text-align: center;
  position: relative;
}
.step .step-item:not(:first-child)::before {
  background: #00998c;
  content: "";
  height: .2rem;
  left: -50%;
  position: absolute;
  top: .9rem;
  width: 100%;
}
.step .step-item a {
  color: #acb3c2;
  display: inline-block;
  padding: 2rem 1rem 0;
  text-decoration: none;
}
.step .step-item a::before {
  background: #00998c;
  border: 0.2rem solid #ffffff;
  border-radius: 50%;
  content: "";
  display: block;
  height: 1.2rem;
  left: 50%;
  position: absolute;
  top: .4rem;
  transform: translateX(-50%);
  width: 1.2rem;
  z-index: 1;
}
.step .step-item.active a::before {
  background: #ffffff;
  border: 0.2rem solid #00998c;
}
.step .step-item.active ~ .step-item::before {
  background: #e7e9ed;
}
.step .step-item.active ~ .step-item a::before {
  background: #e7e9ed;
}
.tile {
  align-content: space-between;
  align-items: flex-start;
  display: flex;
}
.tile .tile-icon,
.tile .tile-action {
  flex: 0 0 auto;
}
.tile .tile-content {
  flex: 1 1 auto;
}
.tile .tile-content:not(:first-child) {
  padding-left: 1rem;
}
.tile .tile-content:not(:last-child) {
  padding-right: 1rem;
}
.tile .tile-title {
  font-weight: 500;
}
.tile .tile-subtitle {
  line-height: 2rem;
  opacity: .5;
}
.tile.tile-centered {
  align-items: center;
}
.tile.tile-centered .tile-content {
  overflow: hidden;
}
.tile.tile-centered .tile-title,
.tile.tile-centered .tile-subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.toast {
  border: 0.1rem solid #454d5d;
  border-radius: 0.2rem;
  color: #ffffff;
  display: block;
  padding: 2rem;
  background: rgba(69, 77, 93, 0.9);
  border-color: #454d5d;
  width: 100%;
}
.toast.toast-primary {
  background: rgba(0, 153, 140, 0.9);
  border-color: #00998c;
}
.toast.toast-success {
  background: rgba(50, 182, 67, 0.9);
  border-color: #32b643;
}
.toast.toast-danger {
  background: rgba(232, 86, 0, 0.9);
  border-color: #e85600;
}
.toast a {
  color: #ffffff;
  text-decoration: underline;
}
.toast a:focus,
.toast a:hover,
.toast a:active,
.toast a.active {
  opacity: .75;
}
.tooltip {
  position: relative;
}
.tooltip::after {
  background: rgba(69, 77, 93, 0.9);
  border-radius: 0.2rem;
  bottom: 100%;
  color: #ffffff;
  content: attr(data-tooltip);
  display: block;
  font-size: 1.4rem;
  left: 50%;
  max-width: 32rem;
  opacity: 0;
  overflow: hidden;
  padding: .4rem .8rem;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  transform: translate(-50%, 1rem);
  transition: all .2s ease;
  white-space: nowrap;
  z-index: 200;
}
.tooltip:focus::after,
.tooltip:hover::after {
  opacity: 1;
  transform: translate(-50%, -0.5rem);
}
.tooltip[disabled],
.tooltip.disabled {
  pointer-events: auto;
}
.tooltip.tooltip-right::after {
  bottom: 50%;
  left: 100%;
  transform: translate(-1rem, 50%);
}
.tooltip.tooltip-right:focus::after,
.tooltip.tooltip-right:hover::after {
  transform: translate(0.5rem, 50%);
}
.tooltip.tooltip-bottom::after {
  bottom: auto;
  top: 100%;
  transform: translate(-50%, -1rem);
}
.tooltip.tooltip-bottom:focus::after,
.tooltip.tooltip-bottom:hover::after {
  transform: translate(-50%, 0.5rem);
}
.tooltip.tooltip-left::after {
  bottom: 50%;
  left: auto;
  right: 100%;
  transform: translate(1rem, 50%);
}
.tooltip.tooltip-left:focus::after,
.tooltip.tooltip-left:hover::after {
  transform: translate(-0.5rem, 50%);
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.divider {
  border-top: 0.1rem solid #e7e9ed;
  display: block;
  height: .1rem;
  margin: 1rem 0;
  position: relative;
}
.divider[data-content]::before {
  background: #ffffff;
  color: #e7e9ed;
  content: attr(data-content);
  display: inline-block;
  font-size: 1.4rem;
  padding: 0 .8rem;
  transform: translateY(-1.1rem);
}
.loading {
  color: transparent !important;
  min-height: 1.6rem;
  pointer-events: none;
  position: relative;
}
.loading::after {
  animation: loading 500ms infinite linear;
  border: 0.2rem solid #00998c;
  border-radius: .8rem;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1.6rem;
  left: 50%;
  margin-left: -0.8rem;
  margin-top: -0.8rem;
  position: absolute;
  top: 50%;
  width: 1.6rem;
  z-index: 1;
}
.clearfix::after,
.container::after {
  clear: both;
  content: "";
  display: table;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fixed {
  position: fixed;
}
.centered {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.mt-10 {
  margin-top: 1rem;
}
.mr-10 {
  margin-right: 1rem;
}
.mb-10 {
  margin-bottom: 1rem;
}
.ml-10 {
  margin-left: 1rem;
}
.mt-5 {
  margin-top: .5rem;
}
.mr-5 {
  margin-right: .5rem;
}
.mb-5 {
  margin-bottom: .5rem;
}
.ml-5 {
  margin-left: .5rem;
}
.pt-10 {
  padding-top: 1rem;
}
.pr-10 {
  padding-right: 1rem;
}
.pb-10 {
  padding-bottom: 1rem;
}
.pl-10 {
  padding-left: 1rem;
}
.pt-5 {
  padding-top: .5rem;
}
.pr-5 {
  padding-right: .5rem;
}
.pb-5 {
  padding-bottom: .5rem;
}
.pl-5 {
  padding-left: .5rem;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.hide {
  display: none !important;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  background: transparent;
  border: 0;
  color: transparent;
  font-size: 0;
  line-height: 0;
  text-shadow: none;
}
.text-assistive {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: .1rem;
  margin: -0.1rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: .1rem;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-normal {
  font-weight: normal;
}
.text-bold {
  font-weight: bold;
}
.text-italic {
  font-style: italic;
}
.text-large {
  font-size: 1.2em;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-clip {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}
.text-break {
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
}
.hand {
  cursor: pointer;
}
.shadow-0 {
  box-shadow: 0 0 0.2rem rgba(69, 77, 93, 0.3);
}
.shadow-1 {
  box-shadow: 0 0.1rem 0.4rem rgba(69, 77, 93, 0.3);
}
.shadow-2 {
  box-shadow: 0 0.2rem 0.6rem rgba(69, 77, 93, 0.3);
}
.shadow-3 {
  box-shadow: 0 0.3rem 0.8rem rgba(69, 77, 93, 0.3);
}
.shadow-4 {
  box-shadow: 0 0.4rem 1rem rgba(69, 77, 93, 0.3);
}
.rounded {
  border-radius: 0.2rem;
}
.circle {
  border-radius: 50%;
}
/*! Spectre.css Icons | MIT License | github.com/picturepan2/spectre */
.icon {
  box-sizing: border-box;
  display: inline-block;
  font-size: inherit;
  height: 1em;
  position: relative;
  text-indent: -999rem;
  vertical-align: middle;
  width: 1em;
}
.icon::before,
.icon::after {
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.icon-arrow-down::before,
.icon-arrow-left::before,
.icon-arrow-right::before,
.icon-arrow-up::before,
.icon-downward::before,
.icon-back::before,
.icon-forward::before,
.icon-upward::before {
  border: 0.2rem solid currentColor;
  border-bottom: 0;
  border-right: 0;
  content: "";
  height: .65em;
  transform: translate(-25%, -50%) rotate(-45deg);
  width: .65em;
}
.icon-arrow-down,
.icon-downward {
  transform: rotate(-90deg);
}
.icon-arrow-right,
.icon-forward {
  transform: rotate(180deg);
}
.icon-arrow-up,
.icon-upward {
  transform: rotate(90deg);
}
.icon-downward::before,
.icon-back::before,
.icon-forward::before,
.icon-upward::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.icon-downward::after,
.icon-back::after,
.icon-forward::after,
.icon-upward::after {
  background: currentColor;
  content: "";
  height: 0.2rem;
  left: 55%;
  width: .8em;
}
.icon-caret::before {
  border-top: .3em solid currentColor;
  border-right: .3em solid transparent;
  border-left: .3em solid transparent;
  content: "";
  height: 0;
  width: 0;
  transform: translate(-50%, -25%);
}
.icon-menu::before {
  background: currentColor;
  box-shadow: 0 -0.35em, 0 0.35em;
  content: "";
  height: 0.2rem;
  width: 100%;
}
.icon-apps::before {
  background: currentColor;
  box-shadow: -0.35em -0.35em, -0.35em 0, -0.35em 0.35em, 0 -0.35em, 0 0.35em, 0.35em -0.35em, 0.35em 0, 0.35em 0.35em;
  content: "";
  height: .3rem;
  width: .3rem;
}
.icon-resize-horiz::before,
.icon-resize-vert::before,
.icon-resize-horiz::after,
.icon-resize-vert::after {
  border: 0.2rem solid currentColor;
  border-bottom: 0;
  border-right: 0;
  content: "";
  height: .45em;
  width: .45em;
}
.icon-resize-horiz::before,
.icon-resize-vert::before {
  transform: translate(-50%, -90%) rotate(45deg);
}
.icon-resize-horiz::after,
.icon-resize-vert::after {
  transform: translate(-50%, -10%) rotate(225deg);
}
.icon-resize-horiz::before {
  transform: translate(-90%, -50%) rotate(-45deg);
}
.icon-resize-horiz::after {
  transform: translate(-10%, -50%) rotate(135deg);
}
.icon-more-horiz::before,
.icon-more-vert::before {
  background: currentColor;
  box-shadow: -0.4em 0, 0.4em 0;
  border-radius: 50%;
  content: "";
  height: .3rem;
  width: .3rem;
}
.icon-more-vert::before {
  box-shadow: 0 -0.4em, 0 0.4em;
}
.icon-plus::before,
.icon-minus::before,
.icon-cross::before {
  background: currentColor;
  content: "";
  height: 0.2rem;
  width: 90%;
}
.icon-plus::after,
.icon-cross::after {
  background: currentColor;
  content: "";
  height: 90%;
  width: 0.2rem;
}
.icon-cross::before {
  width: 100%;
}
.icon-cross::after {
  height: 100%;
}
.icon-cross::before,
.icon-cross::after {
  transform: translate(-50%, -50%) rotate(45deg);
}
.icon-check::before {
  border: 0.2rem solid currentColor;
  border-right: 0;
  border-top: 0;
  content: "";
  height: .5em;
  width: .9em;
  transform: translate(-50%, -75%) rotate(-45deg);
}
.icon-refresh::before {
  border: 0.2rem solid currentColor;
  border-radius: 50%;
  border-right-color: transparent;
  content: "";
  height: .9em;
  width: .9em;
}
.icon-refresh::after {
  border: .2em solid currentColor;
  border-top-color: transparent;
  border-left-color: transparent;
  content: "";
  height: 0;
  left: 75%;
  top: 25%;
  width: 0;
}
.icon-search::before {
  border: 0.2rem solid currentColor;
  border-radius: 50%;
  content: "";
  height: .75em;
  left: 5%;
  top: 5%;
  transform: translate(0, 0) rotate(45deg);
  width: .75em;
}
.icon-search::after {
  background: currentColor;
  content: "";
  height: 0.2rem;
  left: 80%;
  top: 80%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: .4em;
}
.icon-edit::before {
  border: 0.2rem solid currentColor;
  content: "";
  height: .4em;
  transform: translate(-40%, -60%) rotate(-45deg);
  width: .85em;
}
.icon-edit::after {
  border: .15em solid currentColor;
  border-top-color: transparent;
  border-right-color: transparent;
  content: "";
  height: 0;
  left: 10%;
  top: 95%;
  transform: translate(0, -100%);
  width: 0;
}
.icon-delete {
  height: .7em;
  margin: .15em .1em;
  width: .8em;
}
.icon-delete::before {
  border: 0.2rem solid currentColor;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  border-top: 0;
  content: "";
  height: .7em;
  top: 65%;
  width: .75em;
}
.icon-delete::after {
  background: currentColor;
  content: "";
  height: 0.2rem;
  top: 10%;
  width: .9em;
}
.icon-share {
  border: 0.2rem solid currentColor;
  border-radius: 0.2rem;
  border-right: 0;
  border-top: 0;
}
.icon-share::before {
  border: 0.2rem solid currentColor;
  border-bottom: 0;
  border-right: 0;
  content: "";
  height: .45em;
  left: 100%;
  top: 36%;
  transform: translate(-125%, -50%) rotate(135deg);
  width: .45em;
}
.icon-share::after {
  border: 0.2rem solid currentColor;
  border-bottom: 0;
  border-right: 0;
  border-radius: 75% 5%;
  content: "";
  height: .4em;
  width: .6em;
}
.icon-flag::before {
  background: currentColor;
  content: "";
  height: 1em;
  left: 10%;
  width: 0.2rem;
}
.icon-flag::after {
  border: 0.2rem solid currentColor;
  border-bottom-right-radius: 0.2rem;
  border-left: 0;
  border-top-right-radius: 0.2rem;
  content: "";
  height: .65em;
  top: 35%;
  left: 55%;
  width: .75em;
}
.icon-bookmark::before {
  border: 0.2rem solid currentColor;
  border-bottom: 0;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  content: "";
  height: 90%;
  width: 90%;
}
.icon-bookmark::after {
  border: 0.2rem solid currentColor;
  border-bottom: 0;
  border-left: 0;
  border-radius: 0.2rem;
  content: "";
  height: 50%;
  transform: translate(-50%, 35%) rotate(-45deg) skew(15deg, 15deg);
  width: 50%;
}
.icon-download,
.icon-upload {
  border-bottom: 0.2rem solid currentColor;
}
.icon-download::before,
.icon-upload::before {
  border: 0.2rem solid currentColor;
  border-bottom: 0;
  border-right: 0;
  content: "";
  height: .5em;
  width: .5em;
  transform: translate(-50%, -60%) rotate(-135deg);
}
.icon-download::after,
.icon-upload::after {
  background: currentColor;
  content: "";
  height: .6em;
  top: 40%;
  width: 0.2rem;
}
.icon-upload::before {
  transform: translate(-50%, -60%) rotate(45deg);
}
.icon-upload::after {
  top: 50%;
}
.icon-time {
  border: 0.2rem solid currentColor;
  border-radius: 50%;
}
.icon-time::before {
  background: currentColor;
  content: "";
  height: .4em;
  transform: translate(-50%, -75%);
  width: 0.2rem;
}
.icon-time::after {
  background: currentColor;
  content: "";
  height: .3em;
  transform: translate(-50%, -75%) rotate(90deg);
  transform-origin: 50% 90%;
  width: 0.2rem;
}
.icon-mail::before {
  border: 0.2rem solid currentColor;
  border-radius: 0.2rem;
  content: "";
  height: .8em;
  width: 1em;
}
.icon-mail::after {
  border: 0.2rem solid currentColor;
  border-right: 0;
  border-top: 0;
  content: "";
  height: .5em;
  transform: translate(-50%, -90%) rotate(-45deg) skew(10deg, 10deg);
  width: .5em;
}
.icon-people::before {
  border: 0.2rem solid currentColor;
  border-radius: 50%;
  content: "";
  height: .45em;
  top: 25%;
  width: .45em;
}
.icon-people::after {
  border: 0.2rem solid currentColor;
  border-radius: 50% 50% 0 0;
  content: "";
  height: .4em;
  top: 75%;
  width: .9em;
}
.icon-file::before {
  border: 0.2rem solid currentColor;
  border-radius: 0.2rem 0.4em 0.2rem 0.2rem;
  content: "";
  height: 1em;
  width: .9em;
}
.icon-file::after {
  border: .2em solid currentColor;
  border-top-color: transparent;
  border-right-color: transparent;
  content: "";
  height: 0;
  left: .8em;
  top: .2em;
  width: 0;
}
.icon-link::before,
.icon-link::after {
  border: 0.2rem solid currentColor;
  border-radius: 5em;
  border-right-color: transparent;
  content: "";
  height: .5em;
  width: .75em;
}
.icon-link::before {
  transform: translate(-70%, -45%) rotate(-45deg);
}
.icon-link::after {
  transform: translate(-30%, -55%) rotate(135deg);
}
.btn .icon,
.toast .icon,
.menu .icon {
  vertical-align: -10%;
}
/*! Spectre.css Experimentals | MIT License | github.com/picturepan2/spectre */
.calendar {
  border: 0.1rem solid #e7e9ed;
  border-radius: 0.2rem;
  display: block;
  min-width: 28rem;
  text-align: center;
}
.calendar .calendar-nav {
  align-items: center;
  background: #f8f9fa;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  display: flex;
  font-size: 1.8rem;
  padding: 1rem;
}
.calendar .calendar-header,
.calendar .calendar-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 0;
}
.calendar .calendar-header .calendar-date,
.calendar .calendar-body .calendar-date {
  flex: 0 0 14.28%;
  width: 14.28%;
}
.calendar .calendar-header {
  background: #f8f9fa;
  border-bottom: 0.1rem solid #e7e9ed;
  color: #acb3c2;
  font-size: 1.4rem;
}
.calendar .calendar-body {
  color: #727e96;
}
.calendar .calendar-date {
  border: 0;
  padding: .4rem;
}
.calendar .calendar-date .date-item {
  appearance: none;
  background: transparent;
  border: 0.1rem solid transparent;
  border-radius: 50%;
  color: #727e96;
  transition: all .2s ease;
  cursor: pointer;
  height: 2.8rem;
  line-height: 2rem;
  outline: none;
  padding: .3rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 2.8rem;
}
.calendar .calendar-date .date-item.date-today {
  border-color: #57fff1;
  color: #00998c;
}
.calendar .calendar-date .date-item:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 153, 140, 0.15);
}
.calendar .calendar-date .date-item:focus,
.calendar .calendar-date .date-item:hover {
  background: #75fff3;
  border-color: #57fff1;
  color: #00998c;
  text-decoration: none;
}
.calendar .calendar-date .date-item:active,
.calendar .calendar-date .date-item.active {
  background: #008a7e;
  border-color: #007067;
  color: #ffffff;
}
.calendar .calendar-date .date-item.badge::after {
  position: absolute;
  top: .3rem;
  right: .3rem;
  transform: translate(50%, -50%);
}
.calendar .calendar-date.disabled .date-item,
.calendar .calendar-date.disabled .calendar-event,
.calendar .calendar-date .date-item:disabled,
.calendar .calendar-date .calendar-event:disabled {
  cursor: default;
  opacity: .25;
  pointer-events: none;
}
.calendar .calendar-range {
  position: relative;
}
.calendar .calendar-range::before {
  background: #66fff2;
  content: "";
  height: 2.8rem;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.calendar .calendar-range.range-start::before {
  left: 50%;
}
.calendar .calendar-range.range-end::before {
  right: 50%;
}
.calendar .calendar-range .date-item {
  color: #00998c;
}
.calendar.calendar-lg .calendar-body {
  padding: 0;
}
.calendar.calendar-lg .calendar-body .calendar-date {
  border-bottom: 0.1rem solid #e7e9ed;
  border-right: 0.1rem solid #e7e9ed;
  display: flex;
  flex-direction: column;
  height: 11rem;
  padding: 0;
}
.calendar.calendar-lg .calendar-body .calendar-date:nth-child(7n) {
  border-right: 0;
}
.calendar.calendar-lg .calendar-body .calendar-date:nth-last-child(-n+7) {
  border-bottom: 0;
}
.calendar.calendar-lg .date-item {
  align-self: flex-end;
  height: 2.8rem;
  margin-right: .5rem;
  margin-top: .5rem;
}
.calendar.calendar-lg .calendar-range::before {
  top: 1.9rem;
}
.calendar.calendar-lg .calendar-range.range-start::before {
  left: auto;
  width: 1.9rem;
}
.calendar.calendar-lg .calendar-range.range-end::before {
  right: 1.9rem;
}
.calendar.calendar-lg .calendar-events {
  flex-grow: 1;
  line-height: 1;
  overflow-y: auto;
  padding: .5rem;
}
.calendar.calendar-lg .calendar-event {
  background: #66fff2;
  border-radius: 0.2rem;
  color: #00998c;
  font-size: 1.4rem;
  display: block;
  margin: .2rem auto;
  overflow: hidden;
  padding: .3rem .4rem;
  text-align: left;
  text-overflow: ellipsis;
  vertical-align: baseline;
  white-space: nowrap;
}
.carousel {
  background: #f8f9fa;
  display: block;
  height: 50vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.carousel .carousel-container {
  height: 100%;
  left: 0;
  position: relative;
}
.carousel .carousel-container .carousel-item {
  animation: carousel-slideout 1s ease-in-out 1;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel .carousel-container .carousel-item:hover .item-prev,
.carousel .carousel-container .carousel-item:hover .item-next {
  opacity: 1;
}
.carousel .carousel-container .item-prev,
.carousel .carousel-container .item-next {
  background: rgba(231, 233, 237, 0.25);
  border-color: rgba(231, 233, 237, 0.5);
  color: #e7e9ed;
  opacity: 0;
  position: absolute;
  top: 50%;
  transition: all .4s ease;
  transform: translateY(-50%);
  z-index: 200;
}
.carousel .carousel-container .item-prev {
  left: 2rem;
}
.carousel .carousel-container .item-next {
  right: 2rem;
}
.carousel .carousel-locator:nth-of-type(1):checked ~ .carousel-container .carousel-item:nth-of-type(1),
.carousel .carousel-locator:nth-of-type(2):checked ~ .carousel-container .carousel-item:nth-of-type(2),
.carousel .carousel-locator:nth-of-type(3):checked ~ .carousel-container .carousel-item:nth-of-type(3),
.carousel .carousel-locator:nth-of-type(4):checked ~ .carousel-container .carousel-item:nth-of-type(4) {
  animation: carousel-slidein 0.75s ease-in-out 1;
  opacity: 1;
  z-index: 100;
}
.carousel .carousel-locator:nth-of-type(1):checked ~ .carousel-nav .nav-item:nth-of-type(1),
.carousel .carousel-locator:nth-of-type(2):checked ~ .carousel-nav .nav-item:nth-of-type(2),
.carousel .carousel-locator:nth-of-type(3):checked ~ .carousel-nav .nav-item:nth-of-type(3),
.carousel .carousel-locator:nth-of-type(4):checked ~ .carousel-nav .nav-item:nth-of-type(4) {
  color: #e7e9ed;
}
.carousel .carousel-nav {
  bottom: 1rem;
  display: flex;
  justify-content: center;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 20rem;
  z-index: 200;
}
.carousel .carousel-nav .nav-item {
  color: rgba(231, 233, 237, 0.5);
  display: block;
  flex: 1 0 auto;
  height: 4rem;
  margin: .4rem;
  max-width: 5rem;
  position: relative;
}
.carousel .carousel-nav .nav-item::before {
  background: currentColor;
  content: "";
  display: block;
  height: .3rem;
  position: absolute;
  top: 2rem;
  width: 100%;
}
@keyframes carousel-slidein {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes carousel-slideout {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%);
  }
}
.comparison-slider {
  height: 50vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.comparison-slider .comparison-before,
.comparison-slider .comparison-after {
  height: 100%;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
}
.comparison-slider .comparison-before img,
.comparison-slider .comparison-after img {
  height: 100%;
  object-fit: none;
  object-position: left top;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.comparison-slider .comparison-before {
  width: 100%;
}
.comparison-slider .comparison-before .comparison-label {
  right: 1.6rem;
}
.comparison-slider .comparison-after {
  max-width: 100%;
  min-width: 0;
  z-index: 1;
}
.comparison-slider .comparison-after::before {
  background: transparent;
  content: "";
  cursor: default;
  height: 100%;
  left: 0;
  position: absolute;
  right: 1.6rem;
  top: 0;
  z-index: 1;
}
.comparison-slider .comparison-after::after {
  background: currentColor;
  border-radius: 50%;
  box-shadow: 0 -0.5rem, 0 0.5rem;
  color: #ffffff;
  content: "";
  height: .3rem;
  position: absolute;
  right: .8rem;
  top: 50%;
  transform: translate(50%, -50%);
  width: .3rem;
  z-index: -1;
}
.comparison-slider .comparison-after .comparison-label {
  left: 1.6rem;
}
.comparison-slider .comparison-resizer {
  animation: first-run 1.5s 1 ease-in-out;
  cursor: ew-resize;
  height: 1.5rem;
  left: 0;
  max-width: 100%;
  min-width: 1.6rem;
  opacity: 0;
  outline: none;
  position: relative;
  resize: horizontal;
  top: 50%;
  transform: translateY(-50%) scaleY(30);
  width: 0;
}
.comparison-slider .comparison-label {
  background: rgba(69, 77, 93, 0.5);
  bottom: 1.6rem;
  color: #ffffff;
  padding: .3rem .8rem;
  position: absolute;
  user-select: none;
}
@keyframes first-run {
  0% {
    width: 0;
  }
  25% {
    width: 4.8rem;
  }
  50% {
    width: 1.6rem;
  }
  75% {
    width: 2.4rem;
  }
  100% {
    width: 0;
  }
}
.filter .filter-nav {
  margin: 1rem 0;
}
.filter .filter-body {
  display: flex;
  flex-wrap: wrap;
}
.filter .filter-tag#tag-all:checked ~ .filter-nav .chip[for="tag-all"],
.filter .filter-tag#tag-action:checked ~ .filter-nav .chip[for="tag-action"],
.filter .filter-tag#tag-roleplaying:checked ~ .filter-nav .chip[for="tag-roleplaying"],
.filter .filter-tag#tag-talk:checked ~ .filter-nav .chip[for="tag-talk"],
.filter .filter-tag#tag-summer-course:checked ~ .filter-nav .chip[for="tag-summer-course"],
.filter .filter-tag#tag-book-and-book-chapter:checked ~ .filter-nav .chip[for="tag-book-and-book-chapter"],
.filter .filter-tag#tag-games:checked ~ .filter-nav .chip[for="tag-games"],
.filter .filter-tag#tag-moocs:checked ~ .filter-nav .chip[for="tag-moocs"],
.filter .filter-tag#tag-short-courses:checked ~ .filter-nav .chip[for="tag-short-courses"],
.filter .filter-tag#tag-slides:checked ~ .filter-nav .chip[for="tag-slides"],
.filter .filter-tag#tag-videos:checked ~ .filter-nav .chip[for="tag-videos"],
.filter .filter-tag#tag-presentation-slides:checked ~ .filter-nav .chip[for="tag-presentation-slides"] {
  background: #00998c;
  color: #ffffff;
}
.filter .filter-tag#tag-action:checked ~ .filter-body .column:not([data-tag~="tag-action"]),
.filter .filter-tag#tag-roleplaying:checked ~ .filter-body .column:not([data-tag~="tag-roleplaying"]),
.filter .filter-tag#tag-talk:checked ~ .filter-body .column:not([data-tag~="tag-talk"]),
.filter .filter-tag#tag-summer-course:checked ~ .filter-body .column:not([data-tag~="tag-summer-course"]),
.filter .filter-tag#tag-book-and-book-chapter:checked ~ .filter-body .column:not([data-tag~="tag-book-and-book-chapter"]),
.filter .filter-tag#tag-games:checked ~ .filter-body .column:not([data-tag~="tag-games"]),
.filter .filter-tag#tag-moocs:checked ~ .filter-body .column:not([data-tag~="tag-moocs"]),
.filter .filter-tag#tag-short-courses:checked ~ .filter-body .column:not([data-tag~="tag-short-courses"]),
.filter .filter-tag#tag-slides:checked ~ .filter-body .column:not([data-tag~="tag-slides"]),
.filter .filter-tag#tag-videos:checked ~ .filter-body .column:not([data-tag~="tag-videos"]),
.filter .filter-tag#tag-presentation-slides:checked ~ .filter-body .column:not([data-tag~="tag-presentation-slides"]) {
  display: none;
}
.meter {
  appearance: none;
  background: #f8f9fa;
  border: 0;
  border-radius: 0.2rem;
  display: block;
  width: 100%;
  height: 1.6rem;
}
.meter::-webkit-meter-inner-element {
  display: block;
}
.meter::-webkit-meter-bar,
.meter::-webkit-meter-optimum-value,
.meter::-webkit-meter-suboptimum-value,
.meter::-webkit-meter-even-less-good-value {
  border-radius: 0.2rem;
}
.meter::-webkit-meter-bar {
  background: #f8f9fa;
}
.meter::-webkit-meter-optimum-value {
  background: #32b643;
}
.meter::-webkit-meter-suboptimum-value {
  background: #ffb700;
}
.meter::-webkit-meter-even-less-good-value {
  background: #e85600;
}
.meter::-moz-meter-bar,
.meter:-moz-meter-optimum,
.meter:-moz-meter-sub-optimum,
.meter:-moz-meter-sub-sub-optimum {
  border-radius: 0.2rem;
}
.meter:-moz-meter-optimum::-moz-meter-bar {
  background: #32b643;
}
.meter:-moz-meter-sub-optimum::-moz-meter-bar {
  background: #ffb700;
}
.meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  background: #e85600;
}
.parallax {
  display: block;
  height: auto;
  position: relative;
  width: auto;
}
.parallax .parallax-content {
  height: auto;
  box-shadow: 0 2rem 4.2rem rgba(69, 77, 93, 0.3);
  transform: perspective(100rem);
  transform-style: preserve-3d;
  transition: all .4s ease;
  width: 100%;
}
.parallax .parallax-content::before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.parallax .parallax-front {
  align-items: center;
  color: #ffffff;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 3rem rgba(69, 77, 93, 0.95);
  top: 0;
  transform: translateZ(10rem);
  transition: all .4s ease;
  width: 100%;
  z-index: 1;
}
.parallax .parallax-top-left {
  height: 50%;
  position: absolute;
  width: 50%;
  z-index: 300;
  left: 0;
  top: 0;
}
.parallax .parallax-top-left:hover ~ .parallax-content {
  transform: perspective(100rem) rotateX(-3deg) rotateY(3deg);
}
.parallax .parallax-top-left:hover ~ .parallax-content::before {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 50%);
}
.parallax .parallax-top-left:hover ~ .parallax-content .parallax-front {
  transform: translate3d(-0.65rem, -0.65rem, 10rem);
}
.parallax .parallax-top-right {
  height: 50%;
  position: absolute;
  width: 50%;
  z-index: 300;
  right: 0;
  top: 0;
}
.parallax .parallax-top-right:hover ~ .parallax-content {
  transform: perspective(100rem) rotateX(-3deg) rotateY(-3deg);
}
.parallax .parallax-top-right:hover ~ .parallax-content::before {
  background: linear-gradient(-135deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 50%);
}
.parallax .parallax-top-right:hover ~ .parallax-content .parallax-front {
  transform: translate3d(0.65rem, -0.65rem, 10rem);
}
.parallax .parallax-bottom-left {
  height: 50%;
  position: absolute;
  width: 50%;
  z-index: 300;
  bottom: 0;
  left: 0;
}
.parallax .parallax-bottom-left:hover ~ .parallax-content {
  transform: perspective(100rem) rotateX(3deg) rotateY(3deg);
}
.parallax .parallax-bottom-left:hover ~ .parallax-content::before {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 50%);
}
.parallax .parallax-bottom-left:hover ~ .parallax-content .parallax-front {
  transform: translate3d(-0.65rem, 0.65rem, 10rem);
}
.parallax .parallax-bottom-right {
  height: 50%;
  position: absolute;
  width: 50%;
  z-index: 300;
  bottom: 0;
  right: 0;
}
.parallax .parallax-bottom-right:hover ~ .parallax-content {
  transform: perspective(100rem) rotateX(3deg) rotateY(-3deg);
}
.parallax .parallax-bottom-right:hover ~ .parallax-content::before {
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 50%);
}
.parallax .parallax-bottom-right:hover ~ .parallax-content .parallax-front {
  transform: translate3d(0.65rem, 0.65rem, 10rem);
}
.progress {
  appearance: none;
  background: #f0f1f4;
  border: 0;
  border-radius: 0.2rem;
  color: #00998c;
  height: .4rem;
  position: relative;
  width: 100%;
}
.progress::-webkit-progress-bar {
  background: transparent;
  border-radius: 0.2rem;
}
.progress::-webkit-progress-value {
  background: #00998c;
  border-radius: 0.2rem;
}
.progress::-moz-progress-bar {
  background: #00998c;
  border-radius: 0.2rem;
}
.progress:indeterminate {
  animation: progress-indeterminate 1.5s linear infinite;
  background: #f0f1f4 linear-gradient(to right, #00998c 30%, #f0f1f4 30%) top left / 150% 150% no-repeat;
}
.progress:indeterminate::-moz-progress-bar {
  background: transparent;
}
@keyframes progress-indeterminate {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
.slider {
  appearance: none;
  background: transparent;
  display: block;
  width: 100%;
  height: 2.4rem;
}
.slider:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 153, 140, 0.15);
  outline: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #00998c;
  border: 0;
  border-radius: 50%;
  height: 1.2rem;
  margin-top: -0.5rem;
  transition: transform .2s ease;
  width: 1.2rem;
}
.slider::-moz-range-thumb {
  background: #00998c;
  border: 0;
  border-radius: 50%;
  height: 1.2rem;
  transition: transform .2s ease;
  width: 1.2rem;
}
.slider::-ms-thumb {
  background: #00998c;
  border: 0;
  border-radius: 50%;
  height: 1.2rem;
  transition: transform .2s ease;
  width: 1.2rem;
}
.slider:active::-webkit-slider-thumb {
  transform: scale(1.25);
}
.slider:active::-moz-range-thumb {
  transform: scale(1.25);
}
.slider:active::-ms-thumb {
  transform: scale(1.25);
}
.slider:disabled::-webkit-slider-thumb,
.slider.disabled::-webkit-slider-thumb {
  background: #e7e9ed;
  transform: scale(1);
}
.slider:disabled::-moz-range-thumb,
.slider.disabled::-moz-range-thumb {
  background: #e7e9ed;
  transform: scale(1);
}
.slider:disabled::-ms-thumb,
.slider.disabled::-ms-thumb {
  background: #e7e9ed;
  transform: scale(1);
}
.slider::-webkit-slider-runnable-track {
  background: #f0f1f4;
  border-radius: 0.2rem;
  height: .2rem;
  width: 100%;
}
.slider::-moz-range-track {
  background: #f0f1f4;
  border-radius: 0.2rem;
  height: .2rem;
  width: 100%;
}
.slider::-ms-track {
  background: #f0f1f4;
  border-radius: 0.2rem;
  height: .2rem;
  width: 100%;
}
.slider::-ms-fill-lower {
  background: #00998c;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* Slider */
.slick-loading .slick-list {
  background: #ffffff url('vendors/slick/ajax-loader.gif') center center no-repeat;
}
/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('vendors/slick/fonts/slick.eot');
  src: url('vendors/slick/fonts/slick.eot?#iefix') format('embedded-opentype'), url('vendors/slick/fonts/slick.woff') format('woff'), url('vendors/slick/fonts/slick.ttf') format('truetype'), url('vendors/slick/fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: #ffffff;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
.slick-prev[dir="rtl"] {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
.slick-prev:before[dir="rtl"] {
  content: "→";
}
.slick-next {
  right: -25px;
}
.slick-next[dir="rtl"] {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
.slick-next:before[dir="rtl"] {
  content: "←";
}
/* Dots */
.slick-dotted .slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: #000000;
  opacity: 0.75;
}
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Nunito Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
  color: #00998c;
  font-weight: 400;
}
h4.title-mini {
  font-size: 1.4rem;
  color: #454d5d;
  font-weight: bold;
  text-transform: uppercase;
}
hr.separator {
  border: none;
  height: 1px;
  width: 100%;
  background-color: #00998c;
  opacity: 0.4;
  margin: 4rem auto;
}
hr.separator-invisible {
  border: none;
  margin: 4rem 0;
}
.menu {
  margin-bottom: 3.2rem;
}
.menu .current-menu-item {
  font-weight: bold;
  color: #00998c;
}
.title-single {
  font-size: 3rem !important;
}
.font-minor {
  font-size: 1.4rem;
}
.font-minor-p p {
  font-size: 1.4rem !important;
  line-height: 1.4;
}
.align-right,
.align-right-desktop {
  text-align: right;
}
@media screen and (max-width: 600px) {
  .align-right-desktop {
    text-align: left;
  }
}
.columns-main .column-sub {
  background-color: #fff;
  border: #e7e9ed solid 1px;
  margin-top: -16rem;
}
.columns-main .column-sub .title {
  margin-bottom: .5rem;
}
.columns-main .column-sub .subtitle {
  color: #acb3c2;
}
.column-logo img {
  max-width: 100%;
}
.column-menu {
  padding-right: 4rem;
}
.column-zero {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.column-separator {
  border-bottom: 1px solid #00998c;
}
.column-separator:not([style*="display: none"]):last-child {
  border-bottom: none;
}
.column-vertical-center {
  align-items: center;
}
ul.list-menu {
  list-style-type: none;
  margin: 0;
}
.card {
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(0.5rem);
  -ms-transform: translateY(0.5rem);
  transform: translateY(0.5rem);
  z-index: 100;
}
.card h6.card-subtitle {
  color: #454d5d !important;
  opacity: 1;
}
.card .card-body {
  padding-top: 0;
}
.card-button {
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6rem;
  padding: 1.6rem;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}
.card-button h5 {
  margin-bottom: 0;
}
.card-button:hover {
  background-color: #00998c;
}
.card-button:hover h5 {
  color: #ffffff;
}
a.-no-decoration {
  text-decoration: none;
}
.card-mini {
  margin-bottom: 2rem;
  padding: 1.6rem 2rem 2.4rem;
}
.card-mini h4.title-mini {
  margin: .8rem 0 1.6rem;
}
.card-mini > .card-body,
.card-mini > .card-header {
  padding: 0 !important;
  margin: 0;
}
.card-mini a:last-child .card-list {
  margin: 0;
}
.card-group .card-header:last-child {
  padding: 1.6rem;
}
.card-group .sub-card {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.card-group .sub-card h4.title-mini {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.card-group .sub-card h4.title-mini:first-child {
  margin-top: 0;
}
.card-group .sub-card .card-body {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: none;
}
.card-group .sub-card .card-footer {
  background: #00998c;
  border-color: #00998c;
  text-align: center;
  padding: 0 0 .4rem;
}
.card-group .sub-card .card-footer i {
  color: #ffffff;
}
.card-software {
  position: relative;
  margin-top: 7rem;
  flex-basis: 34%;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: auto;
  margin-left: 4rem;
  margin-right: 2rem;
}
.card-software img.logo-software {
  max-height: 10rem;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-top: -6rem;
  background-color: #fff;
}
.card-software .card-title {
  margin-top: 2rem;
}
.card-image.software {
  width: 100%;
  height: 16rem;
}
.card-event h6.card-subtitle {
  font-weight: bold;
}
.card-member,
.card-material {
  padding: 1.6rem;
}
.card-member h4,
.card-material h4 {
  color: #454d5d;
}
.card-member .card-body,
.card-material .card-body,
.card-member .card-header,
.card-material .card-header {
  padding: 0 !important;
  margin: 0;
}
.card-research-themes .sub-card .card-body {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
.card-list {
  position: relative;
  padding: 1.6rem 2.4rem;
  margin-bottom: 1.6rem;
}
.card-list.is-open {
  padding: 1.6rem 2.4rem 2.4rem;
}
.card-list i {
  position: absolute;
  top: 2rem;
  right: 2.4rem;
}
.card-list i,
.card-list .card-header {
  cursor: pointer;
}
.card-list .card-title {
  margin-bottom: 0;
}
.card-list .card-body,
.card-list .card-header {
  padding: 0 !important;
  margin: 0;
}
.card-list .card-body {
  display: none;
  margin-top: 1.6rem;
}
.card-list.card-publication {
  padding: 0.8rem 6rem 0.8rem 2.4rem;
  margin-bottom: 1.2rem;
}
.card-list.card-publication p.card-title {
  font-size: 1.6rem;
  margin-bottom: 0;
}
.card-list.card-publication p.card-title span {
  color: #00998c;
}
.card-list.card-publication h4.title-mini {
  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
}
.card-team {
  border-left: 3px solid #00998c;
  padding: .5rem 0rem 0rem 1rem;
  margin-top: 2rem;
}
.card-team h4.title-mini {
  color: #00998c;
}
.publication {
  padding: 1rem 0 1rem 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: #00998c 2px solid;
}
.publication h4.title-mini {
  margin-top: 2rem;
  margin-bottom: .5rem;
}
.sponsor {
  text-align: center;
  margin: 3.2rem 0;
}
.sponsor img {
  max-height: 120px;
  max-width: 100%;
}
.sponsor-side {
  text-align: left;
  margin: 3.2rem 0;
}
.sponsor-side img {
  max-height: 120px;
  max-width: 70%;
}
.sponsor-mini {
  text-align: center;
}
.sponsor-mini img {
  max-height: 60px;
  max-width: 90%;
}
canvas.canvas-connections {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
header.header-home {
  position: relative;
  height: 40vh;
  max-height: 540px;
  margin-bottom: 4rem;
}
header.header-home h3 {
  color: #ffffff;
}
header.header-home-bg {
  position: absolute;
  height: 40vh;
  max-height: 540px;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #333;
  z-index: -10;
}
header.header-home-bg img {
  position: absolute;
  width: 100%;
  bottom: -1px;
}
header.header-home-bg .cityscape {
  background: url("../img/elements/cityscape.svg") bottom repeat-x;
  height: 120px;
  width: 100%;
  position: absolute;
  bottom: -1px;
}
@media screen and (max-width: 600px) {
  header.header-home-bg,
  header.header-home {
    height: 320px;
  }
}
.header-small.header-home,
.header-small.header-home-bg {
  height: 36rem;
}
footer.footer-main {
  border-bottom: 1rem solid #333;
  padding-bottom: .5rem;
  margin-top: 4rem;
}
footer.footer-main p {
  margin-bottom: .5rem;
}
footer.footer-main .column {
  padding-bottom: 0;
  padding-top: 0;
}
.box-primary {
  background-color: #00998c;
  color: #ffffff;
  padding: 2.4rem;
}
#newsletter {
  width: 64%;
}
.bibtex-field {
  margin-bottom: 1.6rem;
  padding: 1.6rem 2.4rem;
  background-color: #f6f6f8;
  line-height: 1.2;
  font-family: "Monaco", monospace;
  font-size: 1.4rem;
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
}
.bibtex-field span {
  padding-left: 1.6rem;
}
.card-body {
  max-width: 80vw;
}
header.navbar.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 400;
  background-color: #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  /* Safari */
  transition: all 0.5s ease-in-out;
}
.col-padding-small {
  padding-top: .8rem;
  padding-bottom: .8rem;
}
.slicker-fullpage .slick {
  height: 80vh;
  width: 100%;
}
.slicker-fullpage .slick-next,
.slicker-fullpage .slick-prev {
  z-index: 100;
}
.slicker-fullpage .slick-next {
  right: 24px;
}
.slicker-fullpage .slick-prev {
  left: 24px;
}
.tab-item.active a {
  border-bottom: none;
}
table td.schedule-table-day {
  background: #000000;
  color: #ffffff;
}
table tr.schedule-table-break {
  background: #eeeeee;
}
table td.schedule-table-session {
  color: #990000;
  font-weight: bold;
}
table tr.schedule-table-pseudoheader {
  font-style: italic;
  color: #990000;
}
@media only screen and (max-width: 480px) {
  .grid-base {
    max-width: 92%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 600px) {
  .grid-base {
    max-width: 552px;
  }
}
@media only screen and (min-width: 840px) {
  .grid-base {
    max-width: 792px;
  }
}
@media only screen and (min-width: 960px) {
  .grid-base {
    max-width: 96%;
  }
}
@media only screen and (min-width: 1280px) {
  .grid-base {
    max-width: 1232px;
  }
}
@media only screen and (min-width: 1440px) {
  .grid-base {
    max-width: 1392px;
  }
}
.is-selected {
  font-weight: bold;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: .8rem !important;
}
.mt-2 {
  margin-top: 1.6rem !important;
}
.mt-3 {
  margin-top: 2.4rem !important;
}
.mt-4 {
  margin-top: 3.2rem !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: .8rem !important;
}
.mb-2 {
  margin-bottom: 1.6rem !important;
}
.mb-4 {
  margin-bottom: 3.2rem !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.p-1 {
  padding: 1rem !important;
}
.pt-1 {
  padding-top: 1rem !important;
}
.pb-1 {
  padding-bottom: 1rem !important;
}
.p-2 {
  padding: 2rem !important;
}
.pt-2 {
  padding-top: 2rem !important;
}
.pb-2 {
  padding-bottom: 2rem !important;
}

.col-8 img {max-width: 40vw; height: auto}
.col-8 iframe {max-width: 40vw; height: auto}

@media only screen and (max-width: 840px) {
  .col-9 {width: 100%;}
  .col-8 img {max-width: 85vw; height: auto}
  .col-8 iframe {max-width: 85vw; height: auto}
  .column.col-8 {flex: 1; order: 2;}
  .column.col-4 {flex: 1; order: 1;}
}

.wp-caption-text{
  font-style: italic;
  font-size: smaller;
  padding-left: 2em;
}
